<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Galerías</title>

    </head>
    <body bgcolor="#FFFFCC">
        
  
 
  <br><br>

        
        <form action="{{ path('nueva_galeria') }}" method="POST" {{ form_enctype(form) }}>
            
             {{ form_errors(form) }}
    
            
            {{ form_label(form.nombre) }}
            {{ form_widget(form.nombre) }}
            {{ form_errors(form.nombre) }}

	<br><br>
	<input type="submit" value="Crear galeria">
        
            {{ form_rest(form) }}
        
        </form>
    </body>
</html>
